
.nav-outline {
    outline: #CBD5E1;
    border-radius: 12px;
}

.thumbnail-text {
    color: #64748B;
}
.thumbnail-text-dark {
    color: #71717A;
}

.border-color {
    border-color: #CBD5E1;
}

.border-color-dark {
    border-color: #3F3F46;
}

.code-1 {
    border-bottom: 1px dashed #94A3B8;
}
.code-1-dark {
    border-bottom: 1px dashed #3F3F46;
}

.collab-div {
    background: conic-gradient(from 131.7deg at 69.72% 43.72%, #E2E8F0 0deg, #F8FAFC 131.25deg, #F1F5F9 360deg);
}
.collab-div-dark {
    background: conic-gradient(from 131.7deg at 69.72% 43.72%, #18181B 0deg, #353539 131.25deg, #3F3F46 360deg);
}

.button-nav {
    color: #1E293B;
    border: 1px solid #CBD5E1;
    border-radius: 9999px;
}
:hover.button-nav {
    background-color: #F1F5F9;
}

.button-nav-dark {
    color: #D4D4D8;
    border: 1px solid #3F3F46;
    border-radius: 9999px;
}
:hover.button-nav-dark {
    background-color: #27272B;
}

.thanks-text {
    color: #94A3B8;
}
.thanks-text-dark {
    color: #52525B;
}

.code-3 {
    border-top: 1px dashed #475569;
}

.code-3-dark {
    border-top: 1px dashed #3F3F46;
}

.copyright-text {
    color: #94A3B8;
}

.copyright-text-dark {
    color: #71717A;
}